<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Tickers</title>

    <link href="http://mediashark.pro/files/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container top-line">
	<div class="row">
		<div class="col-md-12"><p>Hello <strong>${username}</strong>! <a href="user">Requests history</a></p></div>
	</div>
</div>
<div class="container dtbl">
	<div class="row">
		<div class="col-md-offset-1 col-md-5">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Global/International Equities</th>
                    </tr>
		        </thead>
		        <tbody>
                    <tr><td><a href="etf?ticker=DGT">SPDR® Global Dow ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=CWI">SPDR® MSCI ACWI ex-US ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=ACIM">SPDR® MSCI ACWI IMI ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GWX">SPDR® S&P® International Small Cap ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GWL">SPDR® S&P® World ex-US ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=HFEZ">SPDR® EURO STOXX 50® Currency Hedged ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=FEZ">SPDR® EURO STOXX 50® ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=SMEZ">SPDR® EURO STOXX® Small Cap ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=FEU">SPDR® STOXX® Europe 50 ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=XINA">SPDR® MSCI China A Shares IMI ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GXC">SPDR® S&P® China ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GMF">SPDR® S&P® Emerging Asia Pacific ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GUR">SPDR® S&P® Emerging Europe ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GML">SPDR® S&P® Emerging Latin America ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GMM">SPDR® S&P® Emerging Markets ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=EWX">SPDR® S&P® Emerging Markets Small Cap ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=GAF">SPDR® S&P® Emerging Middle East & Africa ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=RBL">SPDR® S&P® Russia ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IPD">SPDR® S&P® International Consumer Discretionary Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IPS">SPDR® S&P® International Consumer Staples Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IPW">SPDR® S&P® International Energy Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IPF">SPDR® S&P® International Financial Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IRY">SPDR® S&P® International Health Care Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IPN">SPDR® S&P® International Industrial Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IRV">SPDR® S&P® International Materials Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IPK">SPDR® S&P® International Technology Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IST">SPDR® S&P® International Telecommunications Sector ETF</a></td><tr>
                    <tr><td><a href="etf?ticker=IPU">SPDR® S&P® International Utilities Sector ETF</a></td><tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>US Equities</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td><a href="etf?ticker=DIA">SPDR® Dow Jones® Industrial Average ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=ONEK">SPDR Russell 1000® ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=TWOK">SPDR Russell 2000® ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=THRK">SPDR Russell 3000® ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=SMD">SPDR® S&P 1000® ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=SPY">SPDR® S&P 500® ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=SLY">SPDR® S&P® 600 Small Cap ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=MDY">SPDR® S&P MIDCAP 400® ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=MDYG">SPDR® S&P® 400 Mid Cap Growth ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=MDYV">SPDR® S&P® 400 Mid Cap Value ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=SPYG">SPDR® S&P® 500 Growth ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=SPYV">SPDR® S&P® 500 Value ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=SLYG">SPDR® S&P® 600 Small Cap Growth ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=SLYV">SPDR® S&P® 600 Small Cap Value ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XLY">Consumer Discretionary Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLP">Consumer Staples Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLE">Energy Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLF">Financial Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLV">Health Care Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLI">Industrial Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLB">Materials Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLRE">Real Estate Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLK">Technology Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XLU">Utilities Select Sector SPDR® Fund</a></td></tr>
                    <tr><td><a href="etf?ticker=XITK">SPDR® FactSet Innovative Technology ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=MTK">SPDR® Morgan Stanley Technology ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XAR">SPDR® S&P® Aerospace & Defense ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=KBE">SPDR® S&P® Bank ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XBI">SPDR® S&P® Biotech ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=KCE">SPDR® S&P® Capital Markets ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XHE">SPDR® S&P® Health Care Equipment ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XHS">SPDR® S&P® Health Care Services ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XHB">SPDR® S&P® Homebuilders ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=KIE">SPDR® S&P® Insurance ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XWEB">SPDR® S&P® Internet ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XME">SPDR® S&P® Metals and Mining ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XES">SPDR® S&P® Oil & Gas Equipment & Services ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XOP">SPDR® S&P® Oil & Gas Exploration & Production ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XPH">SPDR® S&P® Pharmaceuticals ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=KRE">SPDR® S&P® Regional Banking ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XRT">SPDR® S&P® Retail ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XSD">SPDR® S&P® Semiconductor ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XSW">SPDR® S&P® Software & Services ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XTH">SPDR® S&P® Technology Hardware ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XTL">SPDR® S&P® Telecom ETF</a></td></tr>
                    <tr><td><a href="etf?ticker=XTN">SPDR® S&P® Transportation ETF</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

